# je pourrai commit les fichiers suivants :
# les fichiers les .meta et leur objets (fichier Assets)
# les .json (Package)
# les .asset des projectSettings 
# ainsi que les UserSettings

# seront ignorés les fichiers suivants :
[Ll]ibrary/
.vs/
[Ll]ogs/
[Oo]bj/
[Tt]emp/

*.csproj
*.sln


#[Uu]serSettings/


#*.mp4
#Exeption sur un élément
#!maVideo.mp4