# je pourrai commit les fichiers suivants :
# les fichiers les .meta et leur objets (fichier Assets)
# les .json (Package)
# les .asset des projectSettings 
# ainsi que les UserSettings

# seront ignorés les fichiers suivants :
[Ll]ibrary/
.vs/
[Ll]ogs/
[Oo]bj/
*.csproj
*.sln